.profile-card {
    background-color: aqua;
    padding: 20px;
    margin: 20px;
    border: 20px;
    width: 300px;
    border-radius: 10px;
    font-family: arial, sans-serif;
}

h2 {
    color: black;
    text-align: center;
}

#submit-btn {
    background-color: rgb(0, 255, 0);
    border-radius: 5px;
    cursor: pointer;
}

.bio {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#submit-btn:hover {
    background-color: darkgreen;
}